@font-face {
  font-family: PressStart;
  src: url(../font/PressStart2P-Regular.ttf);
}

/* ! Allgemeines Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: PressStart;
}

img {
  max-width: 100%;
}

h1 {
  font-size: clamp(3rem, 4vw, 5rem);
  margin-bottom: 50px;
}

h2 {
  font-size: clamp(3rem, 4vw, 4.8rem);
  margin-bottom: 40px;
}

p,
a {
  font-size: clamp(2rem, 2vw, 2rem);
}

/* ! Styling vom Header */
header {
  padding: 70px 20px;
  text-align: center;
  min-height: 100vh;
  background-color: rgb(163, 239, 234);
}

img {
  width: 20rem;
  margin: 0 30px 60px 30px;
}

img:hover {
  width: 22rem;
  cursor: pointer;
}

article {
  margin-bottom: 30px;
}

article p {
  margin-bottom: 40px;
  color: white;
}

a {
  text-decoration: none;
  color: black;
  background-color: rgb(247, 247, 247);
  padding: 20px;
  border-radius: 10px;
}
